[submodule "bundle/auto-pairs"]
	path = bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "bundle/ansible-vim"]
	path = bundle/ansible-vim
	url = https://github.com/jiangmiao/ansible-vim
